.primo-img{
    position: absolute;
    top: 310%;
    left: 210px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 150px 0;
}

.primo-subContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.primo-card{
    background-image: linear-gradient( 134.6deg,  rgba(201,37,107,1) 15.4%, rgba(116,16,124,1) 74.7% );
    border-radius: 25px;
    padding: 24px;
    width: 352px;
    height: 157px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.primo-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.primo-content h4{
    font-size: 22px;
    color: #fff;
}

.primo-content p{
    font-size: 13px;
    color: #fff;
}