.partnered{
    position: absolute;
    top: 400%;
    left: 200px;
}

.partnered-heading{
    font-size: 40px;
    margin: 0px 0px 48px;
    font-weight: 500;
    color: var(--black-color);

}

.partnered-rtc{
    display: flex;
    justify-content: space-between;
}

.partnered-rtc span{
    font-size: 28px;
    /* margin: 0px 0px 32px; */
    color: var(--black-color);
    font-weight: 300;
}

.partnered-rtc button{
    font-size: 16px;
    padding: 10px 20px;
    color: var(--black-color);
    cursor: pointer;
    border: 1px solid black;
    /* background: transparent; */
    background-color: var(--buttonBack-color);
    border-radius: 20px;
    font-weight: 600;
}

.partnered-rtc button:hover{
    background-color: #8d8989;
}

.bus-type{
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
}

.partnered-buses{
    display: flex;
    gap: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bus-type:hover{
    background-color: var(--hover-color);
}

.bus-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bus-logo img{
    height: 96px;
    width: 96px;
    margin: 0px 0px;
}

.bus-logo div{
    font-size: 16px;
    /* padding: 10px 32px; */
    color: var(--black-color);
    /* margin-left: 180px; */
}