*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}

:root{
    --hover-color: rgb(237, 237, 237);
    --background-color: #FFF;
    --cityEscape-color: rgb(237, 236, 236);
    --rentalText-color: #1D1D1D;
    --black-color: #000;
    --light-color: #9F9FA8;
    --footerBack-color: #f7f7f7;
    --buttonBack-color: #FFF;

    
}