// .mainRentalContainer{
//     position: absolute;
//     top: 150%;
//     left: 220px;
//     border: 1px solid;
//     padding: 20px;
//     margin-bottom: 20px;
// }

.rental-container{
    display: flex;
    width: 1200px;
    /* margin: 0 200px; */
    align-items: center;
    position: absolute;
    top: 150%;
    left: 220px;

    .rental-text-content{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;

        .rental-text-content h2{
            font-size: 40px;
            color: var(--rentalText-color);
            font-weight: 300;
        }
        .rental-text-content h2 span{
            font-weight: bolder;
        }
        
        .rental-switch{
            display: flex;
            gap: 30px;
        }
        
        .Cab-rental{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            padding: 14px 16px;
            gap: 10px;
            border-bottom: 2px solid #c2c0c0;
            border-radius: 20px;
            cursor: pointer;
        }
        
        .Cab-rental h5{
            color: var(--black-color);
        }
        
        .Cab-rental:hover{
            background-color: var(--hover-color);
            color: #D84E55;
            border-bottom: 2px solid #D84E55;
        }
        
        .rental-text-content p{
            font-size: 16px;
            margin: 0 0 24px;
            color: var(--black-color);
        }
        
        .rental-types{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        
        .rentals{
            display: flex;
            gap: 20px;
        }
        
        .rentals .rental-txt{
            color: var(--black-color);
        }
        
        .rentals img{
            width: 80px;
            height: 40px;
        }
        
        .rental-types button{
            margin: 10px 0 0;
            padding: 15px 16px;
            border: none;
            outline: none;
            background-color: #D84E55;
            border-radius: 15px;
            color: #FFF;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
        }
        
        .rental-types button:hover{
            background-color: #be4248;
        }
    }
    
    
    
    /* This needs to be changed */
    .rental-image{
        background: url("https://s3.rdbuz.com/web/images/homeV2/AboutUs/rydePop.svg");
        background-size: 100;
        background-repeat: no-repeat;
        margin-top: 100px;
    }
 }
 
 